html, body {
    background-color: #0B1544;
}
input {
    margin-top: 15px;
}
.container {
    text-align: center;
}
.container, container-fluid {
    padding-left: 70px;
    padding-right: 70px;
}
.form-control {
    height: 90px;
    font-size: 45px;
}
#logo {
    margin-top: 125px;
    width: 100%;
}

.lss {
    height: 90px;
    margin-top: 15px;
    font-size: 50px;
    color: black;
}
#login {
    background-color: #ffdb03;
}
#signup {
    width: 50%;
    margin: 25px auto;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
.loggin {
    margin-top: 125px;
}