body {
    background-color: #0B1544;
    margin: 0;
}
.container-fluid {
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 0;
}
div {
     background-color: #0B1544;
 }
.second_circles h4{
    position: relative;
    top: 15px;
}
.container-fluid h1  {
    position: relative;
    top: 15px;
}
.navs {
    overflow: hidden;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.bottom-nav {
    height: 45px;
}
.btn-group {
    top: 0;
}
.btn-group button {
    background-color: #222226;
    font-size: 18px;
    border-radius: 0;
    border: none;
}
.glyphicon {
    top: 6px;
    color: #bcbdbf;
}
.row {
    margin: 0;
}
.divider-inside-top {
    position:relative;
    overflow:hidden;
}
.divider-inside-top:before {
    content: "";
    position:absolute;
    z-index: 0;
    width:140%;
    top: -10px;
    height: 7px;
    left: -25%;
    border-radius: 100px / 5px;
    box-shadow:0 0 18px #bcbdbf;
}
.user_info{
    border-top: 1px solid green;
    border-right: 1px solid green;
    padding-left: 0;
    padding-right: 0;
}
.user_info_table{
    font-size: 8px !important;
    margin-left: 5px;
    margin-top: 8px;
    margin-bottom: 3px;
}
.full{
    width: 100%;
    border-top: 1px solid green;
}
.user_info_list li{
    float: left;
}
.top-section{
    border-top: 1px solid yellow;
    color: rgb(255,217,25);
    background-color: rgb(44,42,49);
}
.no-padding {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
}
.about_me{
    margin-left: 7px;
    float: left;
}
.about_me p {
    margin-top: 10px;
    font-size: 8px;
}
.borderless td, .borderless th, .borderless tr {
    border: none !important;
}
.table {
    margin-bottom: 3px;
}
.table > thead > tr > th {
    padding: 2px;
}
h1,h2,h3,h4,h5,h6,p {
    color: rgb(255,217,25);
}
.main-button-left {
    border-right: 1px solid black;
}
.main-button-right {
    border-left: 1px solid black;
}
.main_section_buttons {
    height: 35px;

}
.main_section_buttons h4{
    font-weight: bolder;
}

.main_section_buttons h4 {
    position: relative;
    top: 5px;
}
.middle_section {
    background: transparent;
}
a{
    text-decoration: none !important;
}
.middle_section_image{
    position: absolute;
    opacity: .6;
    z-index: -1;
}
.mid-section {
    text-align: center;
    background: transparent;
}
.middle-game-buttons {
    height: 70px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid rgb(255,217,25);
}
.middle-game-buttons h3 {
    margin: 0;
    position: relative;
    top: 25px;
    font-weight: bolder;
}

#myNavbar a {
    color: yellow;
}
.navbar-inverse .navbar-brand {
    color: yellow;
    margin-left: 10px;
}
.all{
    margin-top: 8px;
    background: transparent;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: yellow;
}

#pic_preview {
    padding: 10px;
    max-height: 400px;
}

/*
    OverLay
 */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/*
 *
 * Photo Gallery
 *
 */
#myModal{
    margin-top: 40px;
}
.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 25%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 75px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
/*
    Media Queries
 */

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}